{% include 'admin_navbar.html' %}

<main id="main" class="main">

<div class="card">

<div class="card-header">
<h4>Add Milestone</h4>
</div>

<div class="card-body mt-3">

<form method="POST">

{% csrf_token %}

<div class="row">

<div class="col-md-6 mb-3">

<label>Project</label>

<select name="project"
        class="form-control">

{% for project in projects %}
<option value="{{ project.id }}">
{{ project.name }}
</option>
{% endfor %}

</select>

</div>

<div class="col-md-6 mb-3">

<label>Milestone Title</label>

<input type="text"
       name="title"
       class="form-control">

</div>

<div class="col-md-12 mb-3">

<label>Description</label>

<textarea name="description"
          class="form-control"></textarea>

</div>

<div class="col-md-6 mb-3">

<label>Start Date</label>

<input type="date"
       name="start_date"
       class="form-control">

</div>

<div class="col-md-6 mb-3">

<label>Target Date</label>

<input type="date"
       name="target_date"
       class="form-control">

</div>

<div class="col-md-6 mb-3">

<label>Status</label>

<select name="status"
        class="form-control">

<option>Pending</option>
<option>In Progress</option>
<option>Completed</option>

</select>

</div>

<div class="col-md-6 mb-3">

<label>Progress (%)</label>

<input type="number"
       min="0"
       max="100"
       value="0"
       name="progress"
       class="form-control">

</div>

</div>

<button class="btn btn-primary">
Save Milestone
</button>

</form>

</div>

</div>

</main>