{% include 'admin_navbar.html' %}

<main id="main" class="main">

<div class="card">

    <div class="card-header d-flex justify-content-between">

        <h4>Departments</h4>

        <a href="{% url 'add_department' %}"
           class="btn btn-success">

            Add Department

        </a>

    </div>

    <div class="card-body mt-3">

        <table class="table table-bordered">

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>

            </thead>

            <tbody>

            {% for department in departments %}

                <tr>

                    <td>{{ department.id }}</td>

                    <td>{{ department.name }}</td>

                    <td>{{ department.description }}</td>

                    <td>

                        <a href="{% url 'edit_department' department.id %}"
                           class="btn btn-warning btn-sm">

                           Edit

                        </a>

                        <a href="{% url 'delete_department' department.id %}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Delete Department?')">

                           Delete

                        </a>

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

</main>