{% include 'admin_nav.html' %}
<main id="main" class="main">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <h3 class="card-title mb-4">Edit Account</h3>


      {% load static %}
      
 

          <!-- Alerts -->
          {% if messages %}
          <div class="popup-alert-container">
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
              {% endfor %}
          </div>
          {% endif %}
      
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
      
              <div class="card shadow p-4">
                  <div class="row">
      
                      <!-- LEFT SIDE IMAGE -->
                      <div class="col-md-4 text-left">
      
                          {% if bok.Image %}
                              <img src="{{ bok.Image.url }}" class="profile-img mb-3" width="180" height="180">
                          {% else %}
                              <img src="{% static 'default.png' %}" class="profile-img mb-3" width="180" height="180">
                          {% endif %}
      
                          <div class="form-group">
                              <label><b>Change Photo</b></label>
                              <input type="file" name="photo" class="form-control-file">
                          </div>
      
                      </div>
      
                      <!-- RIGHT SIDE FORM -->
                      <div class="col-md-8">
      
                          <div class="row">
      
                              <div class="col-md-6 form-group">
                                  <label>Full Name</label>
                                  <input type="text" name="first_name" class="form-control"
                                         value="{{ bok.First_name }}" required>
                              </div>
      
                              <div class="col-md-6 form-group">
                                  <label>Username</label>
                                  <input type="text" name="user_name" class="form-control"
                                         value="{{ user.username }}" required>
                              </div>
      
                              <div class="col-md-6 form-group">
                                  <label>Email</label>
                                  <input type="email" name="email" class="form-control"
                                         value="{{ bok.Email }}" required>
                              </div>
      
                              <div class="col-md-6 form-group">
                                  <label>Mobile Number</label>
                                  <input type="text" name="mobile" class="form-control"
                                         value="{{ bok.Mobile_Number }}">
                              </div>
      
                              <div class="col-md-6 form-group">
                                  <label>Location</label>
                                  <input type="text" name="loc" class="form-control"
                                         value="{{ bok.Location }}">
                              </div>
      
                              <div class="col-md-6 form-group">
                                  <label>Designation</label>
                                  <input type="text" name="designatio" class="form-control"
                                         value="{{ bok.Designation }}">
                              </div>
      
                              <div class="col-md-6 form-group">
                                <label>Gender</label>
                                <select name="gender" class="form-control">
                                    <option value="Male" {% if bok.Gender|lower == "male" %}selected{% endif %}>Male</option>
                                    <option value="Female" {% if bok.Gender|lower == "female" %}selected{% endif %}>Female</option>
                                    <option value="Other" {% if bok.Gender|lower == "other" %}selected{% endif %}>Other</option>
                                </select>
                            </div>
      
                              <div class="col-md-6 form-group">
                                  <label>Password</label>
                                  <input type="text" name="psw" class="form-control"
                                  value="{{ bok.Password }} " placeholder="Enter new password">
                              </div>
      
                              <div class="col-md-12 form-group">
                                  <label>Address</label>
                                  <textarea name="address" class="form-control" rows="3">{{ bok.Address }}</textarea>
                              </div>
      
                          </div>
      
                          <!-- BUTTONS -->
                          <div class="d-flex justify-content-start mt-3 gap-2">
                            <button type="submit" class="btn btn-primary px-4">Update</button>
                            <a onclick="window.history.back()" class="btn btn-secondary px-4">Cancel</a>
                        </div>
      
                      </div>
                  </div>
              </div>
          </form>
      
      </main>
      
      <!-- JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
      </body>
      </html>
    </div>
